<?xml version="1.0" encoding="UTF-8"?>
<html>
    <style>
        h1,
        h2,
        h3 {
          text-align: center;
        }
    
        h2 {
          margin-top: 20px;
        }
    
        section,
        h1 {
          margin-bottom: 60px;
        }
    
    </style>
    <div>
        <h2>Osnovni Sud u Beranama</h2>
        <h1>K 10/2011</h1>
        <h3>2011-06-22</h3>
        <p>
            OSNOVNI SUD U BERANAMA , kao krivični prvostepeni sud, u vijeću sastavljenom od sudija Aleksandra Ćulafića , kao predsjednika vijeća, i
            sudija Milorada Paunovića i Stojana Kukalja, kao članova vijeća, uz učešće namještenika suda Miroslave Lekic, kao zapisničara, rješavajući po optužnici 
            Osnovnog državnog tužilaštva u Beranama Kt.br. 450/2010 od 29.12.2010. godine, podnijetom protiv optuženog R . F .
            , iz Berana, zbog krivičnog djela krijumčarenje iz
            <a href="/krivicni#art_265_para_1_point_1">
                čl. 265 st. 1 Krivičnog zakonika,
            </a>
             nakon održanog glavnog i javnog pretresa du prisustvu zamjenika ODT-a u Beranama,
            Savović Vladimira i okrivljenog , donio je i javno objavio dana  22.06.2011. godine, P R E S U D U Okrivljeni R. F., od oca Š. i majke I., rođene L., rođen ... godine u B., sa prebivalištem u mjestu S. B., opština B., državljanin Crne Gore, po zanimanju poljoprivrednik, pismen, sa završenom OŠ, srednjeg imovnog stanja, osuđivan presudom 
            Osnovnog suda u Beranama K.br. ... od 22.02.2010. godine po čl. 168 st. 2 KZ CG, osuđen 6 mjeseci zatvora, uslovno za jednu godinu.
            K r i v  je <br/>
            - što je:<br/>
            - dana 30.08.2010. godine, preko carinske linije, mimo graničnog prelaza D., kod Rožaja, izbjegavajući mjere carinskog nadzora prenio robu, na 
            način što je traktorom marke "IMT"539, reg. br. ..., na tovarnom sanduku - prikolici, prevezao: 2000 metara crnog plastičnog podzemnog crijeva za
            vodu, od pola cola, vrijednosti 500,00 € iz Republike Srbije, a što je utvrđeno kontrolom granične policije Uprave policije PJ B., istog dana u 
            mjestu N. V., opština Berane,<br/>
            - čime je izvršio krivično djelo krijumčarenje iz 
            <a href="/krivicni#art_265_para_1_point_1">
                čl. 265 st. 1 Krivičnog zakonika,
            </a>,pa ga sud primjenom citiranih zakonskih propisa, te
                <a href="/krivicni#art_2">
                    čl. 2
                </a>
                ,
                <a href="/krivicni#art_4">
                    4
                </a>
                ,
                <a href="/krivicni#art_5">
                    5
                </a>
                ,
                <a href="/krivicni#art_13">
                    13
                </a>
                ,
                <a href="/krivicni#art_15">
                    15
                </a>
                ,
                <a href="/krivicni#art_32">
                    32
                </a>
                ,
                <a href="/krivicni#art_36">
                    36
                </a>
                ,
                <a href="/krivicni#art_39">
                    39
                </a>
                ,
                <a href="/krivicni#art_42">
                    42
                </a>
                ,
                <a href="/krivicni#art_45">
                    45
                </a>
                ,
                <a href="/krivicni#art_46">
                    46
                </a>
                i
                <a href="/krivicni#art_75">
                    75
                </a>
                Krivičnog zakonika, i
                <a href="/postupak#art_199_para_1_point_1">
                    čl.199 st. 1
                </a>
                ,
                <a href="postupak#art_364">
                    364
                </a>
                ZKP-a CG,
                O S U Đ U J E<br/>
            - na kaznu zatvora od 30 (trideset dana), kao glavnu kaznu i<br/>
            - na novčanu kaznu u iznosu od 300,00 € (tri stotine eura), kao sporednu kaznu, koju je dužan da plati u roku od 3 mjeseca po pravosnažnosti presude.
            Ako osuđeni ne plati novčanu kaznu u određenom roku, sud će novčanu kaznu zamjeniti kaznom zatvora, tako što će za svakih započetih 25,00 € novčane kazne odrediti 
            jedan dan zatvora, a ako osuđeni plati samo dio novčane kazne, sud će ostatak kazne srazmjerno zamjeniti kaznom zatvora, pa ako 
            osuđeni isplati ostatak novčane kazne, izvršenje kazne zatvora će se obustaviti. osuđeni se obavezuje da na ime paušala plati ovom sudu iznos od 30,00 €,  kao i na ime troškova krivičnog postupka iznos od 66,00 € na račun br. 
            832-150-38 Osnovnog sudaBerane, a sve prednje u roku od 15 dana po pravosnažnosti presude, pod prijetnjom posledica prinudnog izvršenja. 
            Shodno čl. 
            <a href="krivicni.html#art_75">
                75
            </a>
            Krivičnog zakonika, optuženom se izriče mjera bezbjednosti oduzimanja 2000 metara crnog plastičnog podzemnog crijeva za vodu, od pola cola.
        </p>
    </div>
</html>