<?xml version="1.0" encoding="UTF-8"?>
<html>
    <style>
        h1,
        h2,
        h3 {
          text-align: center;
        }
    
        h2 {
          margin-top: 20px;
        }
    
        section,
        h1 {
          margin-bottom: 60px;
        }
    
    </style>
    <div>
        <h2>OSNOVNI SUD U ROŽAJAMA</h2>
        <h1>K 100/17</h1>
        <h3>2017-11-30</h3>
        <p>
            OSNOVNI SUD U ROŽAJAMA
            k.br. 100/17
            U IME CRNE GORE Sudija Osnovnog suda u Rožajama Milosav Zekić, uz učešće zapisničara Jasmine Nurković
            , rješavajući po optužnom predlogu Osnovnog državnog tužilaštva iz Rožaja Kt.br. 145/17 od 31.10.2017.g. podnijet protiv okrivljenog
            N. P. sa prebivalištem u ul. "Džordža Fred Vilijamsa", Opština Peć, Republika Kosovo, zbog krivičnog djela krijumčarenje iz
            <a href="/krivicni#art_265_st_1">
                čl. 265. st. 1. KZCG
            </a>
            , nakon održanog glavnog i javnog pretresa u prisustvu državnog tužioca Aldina Kalača
            , okrivljenog i njegovog branica adv. H. N.
            i tumača za albanski jezik R. R.
            , dana 30.11.2017. donio je i javno objavio:
            P R E S U D U Okrivljeni N. P.
            , ID br. . od oca I. i majke F., rođ. M.rođen ..g. u selu Veliki Štupelj, sa prebivalištem u ul. "Džordža Fred Vilijamsa", Opština Peć, Republika 
            Kosovo, državljanin Republike Kosovo, ne razumije crnogorski jezik, a njegov jezik je albanski, nezaposlen, oženjen, otac troje maloletne djece, 
            pismen, završio SSS, siromašnog imovnog stanja.
            K R I V J E
            Što je:
            dana 13.10.2017.godine, oko 12,30 h, u mjestu zv. Kula, Opština Rožaje, u uračunljivom stanju, svjestan svog djela čije je izvršenje htio, iako je
                znao da je njegovo djelo zabranjeno, bavio prenošenjem robe preko carinske linije izbjegavajući mjere carinskog nadzora i to: 28,68 kg supstance 
                paracetamola i kofeina, upakovane u 22 kese, na način što je navedenu robu u Peći, sakrio na raznim mjestima u putničkom motornom vozilu marke 
                „Polo“, reg. oznaka 03-731-FA i to u instrument tabli vozila ispod airbaga suvozača, ispod patosnice suvozača, u šupljinama zadnjih lijevih vrata 
                ispod tapacira i ispod zadnjeg sjedišta, a nakon toga je sa vozilom i robom naišao na carinski prelaz „Kula“ kako bi prešao isti, a onda pomenutu
                robu prevezao do Podgorice, ali je otkriven od strane službenika odjeljenja Granične bezbijednosti Rožaje,čime je izvršio krivično djelo krijumčarenje iz
            <a href="/krivicni#art_265_para_1_point_1">
                čl. 265. st. 1. KZCG
            </a>.
            pa ga sud primjenom pomenutog zakonskog propisa i
            <a href="/krivicni#art_4">
                čl. 4
            </a>
            ,
            <a href="/krivicni#art_5">
                5
            </a>
            ,
            <a href="/krivicni#art_13">
                13
            </a>
            ,
            <a href="/krivicni#art_14">
                14
            </a>
            ,
            <a href="/krivicni#art_15">
                15
            </a>
            ,
            <a href="/krivicni#art_32">
                32
            </a>
            ,
            <a href="/krivicni#art_36">
                36
            </a>
            ,
            <a href="/krivicni#art_42">
                42
            </a>
            ,
            <a href="/krivicni#art_45">
                45
            </a>
            ,
            <a href="/krivicni#art_46_para_1_point_1_point_5">
                46 st. 1. tač. 5. 
            </a>
            KZCG i
            <a href="/postupak#art_374">
                374
            </a>
            ZKP,
            OSUĐUJE
            Na kaznu zatvora u trajanju od 48 dana u koju kaznu mu se ima uračunati vrijeme provedeno u pritvoru od 13.10.2017.g. do 30.11.2017.g. i novčanu 
            kaznu u iznosu od 200,00 (dvijestotine) eura.
            Ako osuđeni ne plati novčanu kaznu u roku od 15 dana po pravosnažnosti ove presude, ista će se zamijeniti kaznom zatvora, tako što će se za svakih 
            započetih 25,00 eura novčane kazne odrediti jedan dan kazne zatvora.
            Obavezuje se okrivljeni 
            da plati na ime troškova krivičnog postupka iznos od 150,00 eura i na ime paušala iznos od 30,00 eura u korist budžeta 
            Crne Gore u roku od 15 dana po pravosnažnosti presude.
            Troškovi krivičnog postupka u iznosu od 255,00 eura koji se odnose za prevođenje padaju na teret budžetskih sredstava.
            Od okrivljenog N. P. se oduzima: 28,68 kg supstance paracetamola i kofeina, upakovane u 22 kese, kao predmeti izvršenja krivičnog djela.
        </p>
    </div>
</html>