<?xml version="1.0" encoding="UTF-8"?>
<html>
    <style>
        h1,
        h2,
        h3 {
          text-align: center;
        }
    
        h2 {
          margin-top: 20px;
        }
    
        section,
        h1 {
          margin-bottom: 60px;
        }
    
    </style>
    <div>
        <h2>Osnovni Sud u Rožajama</h2>
        <h1>K 101/2019</h1>
        <h3>2019-12-12</h3>
        <p>
            OSNOVNI SUD U ROŽAJAMA, i to sudija Osnovnog suda u Rožajama Milosav Zekic , uz učešće zapisničara Jasmine Nurković
            , rješavajući po izmijenjenom optužnom predlogu Osnovnog državnog tužilaštva iz Rožaja Kt.br. 36/19 od 13.03.2019.g, podnijet protiv okrivljenog
            I. M. iz B. - R. S., kao saizvršioca, zbog krivičnog djela krijumčarenje iz
            <a href="/krivicni#art_265_para_1_point_1">
                čl. 265. st. 1.
            </a>
            u vezi
            <a href="/krivicni#art_23_para_1_point_2">
                čl. 23. st. 2.
            </a>
            Krivičnog zakonika Crne Gore, nakon održanog glavnog i javnog pretresa u prisustvu državnog tužioca Aldina Kalača
            , okrivljenog i njegovog branioca R. S. adv.
            , dana 12.12.2019.godine, donio je i javno objavio
             P R E S U D U
            Okrivljeni I. M.
            , JMB ... , od oca D. i majke S. rođene I., rođen ... .godine, u B., R. S., gdje i živi - ul. Z. Đ. br. ... , državljanina R. S., razumije crnogorski
            K R I V J E
            Što se:
            Dana 08.03.2019.godine, u mjestu zv. D., O. R., u uračunljivom stanju, svjestan svog djela čije je izvršenje htio, iako je znao da je njegovo djelo zabranjeno, zajednički sa
            M. M. bavio se prenošenjem robe preko carinske linije, izbjegavajući mjere carinskog nadzora i to: 17 komada led kontrolera, 7 komada zvučnika marke „B.“, 
            900 metara led trake i 15 komada regulatora osvjetljenja, na način što je robu predao M. M.
            u T., R. S., da mu istu prenese zaobilaznim putem, bez evidentiranja na graničnom prelazu D., O.., izbjegavajući na taj način mjere carinskog nadzora, 
            pa mu je M.
            robu prenio, a on je zatim, robu preuzeo na teritoriji O. R.i prevozio je putničkim motornim vozilom marke „B.“, tip 520 D, reg. oznaka br. BG ... , kojom prilikom je kontrolisan od strane pripadnika saobraćajne policije u Beranama,
            čime je, kao saizvršilac, izvršio krivično djelo krijumčarenje iz
            <a href="/krivicni#art_265">
                čl. 265. st. 1.
            </a>
            u vezi
            <a href="/krivicni#art_23_para_2">
                čl. 23. st. 2.
            </a>
            Krivičnog zakonika Crne Gore.
            Pa mu sud primjenom pomenutih zakonskih propisa i
            <a href="/krivicni#art_2">
                čl. 2
            </a>
            ,
            <a href="/krivicni#art_3">
                3
            </a>
            ,
            <a href="/krivicni#art_4">
                4
            </a>
            ,
            <a href="/krivicni#art_5">
                5
            </a>
            ,
            <a href="/krivicni#art_13">
                13
            </a>
            ,
            <a href="/krivicni#art_14">
                14
            </a>
            ,
            <a href="/krivicni#art_15">
                15
            </a>
            ,
            <a href="/krivicni#art_36">
                36
            </a>
            ,
            <a href="/krivicni#art_42">
                42
            </a>
            ,
            <a href="/krivicni#art_52">
                52
            </a>
            ,
            <a href="/krivicni#art_53">
                53
            </a>
            i
            <a href="/krivicni#art_54">
                54
            </a>
            Krivičnog zakonika Crne Gore i
            <a href="/postupak#art_374">
                čl. 374.
            </a>
            Zakonika o Krivičnom Postupku, izriče
            USLOVNU OSUDU
            Kojom mu utvrđuje kaznu zatvora u trajanju od 6 (šest) mjeseci i istovremeno 
            određuje da se kazna neće izvršiti ukoliko osuđeni u roku od jedne godine ne izvrši novo krivično djelo.
            Istovremeno, sud okrivljenog, primjenom pomenutih zakonskih propisa i
            <a href="/krivicni#art_34">
                čl. 34
            </a>
            i
            <a href="/krivicni#art_39">
                39
            </a>
            Krivičnog Zakonika Crne Gore i
            <a href="/postupak#art_374">
                čl. 374.
            </a>
            Zakonika o krivičnom postupku
            O S U Đ U J E
            Na NOVČANU KAZNU u iznosu od 200,00 (dvije stotine) eura. Ako osuđeni ne plati novčanu kaznu u roku od 15 (petnaest) dana po pravosnažnosti ove
            presude, ista će se zamijeniti kaznom zatvora, tako što će se za svakih započetih 25,00 eura novčane kazne odrediti jedan dan kazne zatvora.
            Obavezuje se 
            okrivljeni da plati na ime troškova krivičnog postupka paušalni iznos od 30,00 eura, u korist Budžeta Crne Gore, u roku od 15 dana po 
            pravosnažnosti ove presude.
            Od okrivljenog
            se oduzma: 17 komada led kontrolera, 7 komada zvučnika marke „B.“, 900 metara led trake i 15 komada regulatora osvjetljenja, kao roba
            koja je predmet izvršenja krivičnog djela.
        </p>
    </div>
</html>