<?xml version="1.0" encoding="UTF-8"?>
<html>
    <style>
        h1,
        h2,
        h3 {
          text-align: center;
        }
    
        h2 {
          margin-top: 20px;
        }
    
        section,
        h1 {
          margin-bottom: 60px;
        }
    
    </style>
    <div>
        <h2>Osnovni Sud u Rožajama</h2>
        <h1>K 24/2017</h1>
        <h3>2017-03-27</h3>
        <p>
            OSNOVNI SUD U ROŽAJAMA, i to predsjednik krivičnog vanraspravnog vijeća - sudija Milosav Zekić, uz učešće zapisničara
            Aida Luboder, u krivičnom predmetu protiv okrivljenog E. P. iz Plava, zbog krivičnog djela krijumčarenje iz
            <a href="/krivicni#art_265">
                čl. 265. st. 1. Krivičnog zakonika Crne Gore
            </a>
            , po optužnom predlogu ODT-a iz Rožaja Kt. 30/17 od 03.03.2017.g., nakon donošenja rješenja o usvajanju sporazuma o priznavanju krivice, 
            dana 27.03.2017. godine, donio jev Okrivljeni E. P. 
            , JMB ., od oca O. i majke I. rođene D., rođenog ..godine, u Plavu, gdje i živi - ul. Žioca bb, državljanin Crne Gore, razumije crnogorski jezik 
            koji je i njegov jezik, po zanimanju privatni preduzetnik, oženjen, otac troje maloljetne djece, pismen, završio VŠS, siromašnog imovnog stanja, 
            neosuđivan. 
            K R I V J E
            Što je:
            dana 23.02.2017.godine, oko 23,00 časova, u mjestu zv. Dračenovac, Opština Rožaje, u uračunljivom stanju, svjestan svog djela čije je izvršenje 
            htio, iako je znao da je njegovo djelo zabranjeno, bavio se prenošenjem robe preko carinske linije i to: 216 paketa koncentrata – praška „Cedevita“ 
            (jedan paket 50 komada kesica, od po 19 grama), ukupno 10.800 kesica, na način što je vozilom marke Fiat Doblo, reg. oznaka PL AF 458, kojim je 
            prevozio robu, iz pravca Republike Srbije u Crnu Goru, ušao zaobilaznim putem, bez evidentiranja na graničnom prelazu Dračenovac, izbjegavajući na 
            taj način mjere carinskog nadzora, nakon čega je tokom transporta robe zatečen u mjestu zv. Rudeš, Opština Berane, prilikom kontrole od strane 
            službenika Uprave policije – CB Berane, čime je izvršio krivično djelo krijumčarenje iz
            <a href="/krivicni#art_265_para_1_point_1">
                čl. 265. st. 1. Krivičnog zakonika Crne Gore
            </a>
            pa mu sud primenom pomenutog zakonskog propisa i 
            <a href="/krivicni#art_4">
                čl. 4 
            </a>
            ,
            <a href="/krivicni#art_13">
                13
            </a>
            ,
            <a href="/krivicni#art_15">
                15
            </a>
            ,
            <a href="/krivicni#art_32">
                32
            </a>
            ,
            <a href="/krivicni#art_36">
                36
            </a>
            ,
            <a href="/krivicni#art_42">
                42
            </a>
            ,
            <a href="/krivicni#art_45">
                45
            </a>
            ,
            <a href="/krivicni#art_46_para_1_point_1_point_5">
                46, st. 1. tač.5.
            </a>
            čl. 
            <a href="/krivicni#art_52">
                52
            </a>
            ,
            <a href="/krivicni#art_53">
                53
            </a>
            ,
            <a href="/krivicni#art_54">
                54
            </a>
            Krivičnog zakonika Crne Gore i čl. 
            <a href="/postupak#art_303">
                303
            </a>
                i 
            <a href="/postupak#art_374">
                374
            </a>
                Zakonika o krivičnom postupku, izriče
            USLOVNU OSUDU
            Kojom mu utvrđuje kaznu zatvora u trajanju 3 (tri) mjeseca i istovremeno odredjuje da se kazna neće izvršiti ukoliko osuđeni u roku od jedne
                godine ne izvrši novo krivično djelo.
            Istovremeno sud okrivljenog 
            , primenom čl. 4,13,15, 32, 34, 39 i 42 Krivičnog zakonika Crne Gore i čl. 303 i 374. Zakonika o krivičnom postupku
            O S U Đ U J E
            Na NOVČANU KAZNU u iznosu od 200,00 (dvije stotine) eura. Ako osudjeni ne plati novčanu kaznu u roku od 15 dana, po pravosnažnosti ove presude, 
            ista će se zamijeniti kaznom zatvora, tako što će se za svakih započetih 25,00 eura novčane kazne odrediti jedan dan kazne zatvora.
            Da plati na ime troškova krivičnog postupka paušalni iznos od 40,00 eura,u korist budžeta Crne Gore, u roku od 15 dana po pravosnažnosti ove presude.
            Od okrivljenog se oduzima 216 paketa koncentrata - praška "cedevita" ( jedan paket, 50 kom. kesica od po 19 gr,), ukupno 10.800 kesica, kao predmeti izvršenja 
            krivičnog djela. 
        </p>
    </div>
</html>