<?xml version="1.0" encoding="UTF-8"?>
<html>
    <style>
        h1,
        h2,
        h3 {
          text-align: center;
        }
    
        h2 {
          margin-top: 20px;
        }
    
        section,
        h1 {
          margin-bottom: 60px;
        }
    
    </style>
    <div>
        <h2>Osnovni Sud u Podgorici</h2>
        <h1>K 289/2016</h1>
        <h3>2016-06-17</h3>
        <p>
            OSNOVNI SUD U PODGORICI, kao prvostepeni, krivični, po sutkinji Željki Jovović , uz učešće Danijele Rajkvoić , kao zapisničarke, u krivičnom predmetu, protiv optuženog 
            N. A., zbog krivičnog djela krijumčarenje putem pomaganja iz 
            <a href="/krivicni#art_265_para_1_point_2">
                čl. 265. st. 2.
            </a> u vezi čl. 
            <a href="/krivicni#art_25">
                čl. 25
            </a>
            Krivičnog zakonika Crne Gore, rješavajući po optužnici Osnovnog državnog tužilaštva Podgorica Kt. br. 465/16 od 06. 05. 2016. godine, nakon održanog glavnog, javnog pretresa, dana 17. 06. 2016. godine, u prisustvu zastupnika optužnice 
            Ivana Medojevića, državnog tužioca u ODT- u Podgorica, optuženog i njegovih branilaca adv. D. Đ.
            i adv. M. K. N. A. ,JMB xxxxxxxxxxxxx, od oca R. i majke Lj., rođene K., rođen xx. xx. 19xx. godine u Podgorici, sa prebivalištem u mjestu rođenja Golubovci bb, državljanin Crne Gore, 
            nezaposlen, neoženjen, bez djece, završio srednju trgovinsku školu, lošeg imovnog stanja, neosuđivan, u pritvoru od 08. 04. 2016. godine od 07:00 časova, 
            po rješenju sudije za istragu Osnovnog suda u Podgorici Kri. br. 183/16 od 09. 04. 2016. godine.
            Kriv je
            Što je:
            U novembru 2015. godine u Podgorici, svjestan svog djela čije izvršenje je htio, znajući da je njegovo djelo zabranjeno, stvaranjem uslova pomogao 
            V. V. da izvrši krivično djelo, na način što je znajući da će V. V. iz Crne Gore, vozilom da prenese preko carinske linije, izbjegavajući mjere 
            carinskog nadzora, veću količinu oružja, municije i eksplozivnih materija čije držanje je građanima zabranjeno, u otvorima vozila marke "Golf V", 
            registarskih oznaka PG FAxxx, spakovao i to: 8 komada automatskih pušaka - kalašnjikov, 8 okvira za te puške, 150 komada municije, 2 pištolja, 
            1 revolver, 2 ručne granate i 200 g TNT eksploziva sa detonatorom, tako što ga je oblijepio selotejp trakom i sakrio ispod haube vozila, u otvoru 
            ispod brisača, u gepeku ispod tapacira i u otvorima sa donje strane vozila, nakon čega je V. V. sa ovako sakrivenim oružjem, prešao granicu sa 
            Republikom Hrvatskom, na graničnom prelazu "Kobila", a zatim nastavio do Savezne Republike Njemačke, gdje je dana 05. 11. 2015. godine, u blizini 
            mjesta Bad Feilnbach, otkriven od strane bavarske policije, nakon čega je protiv V. V. pokrenut od strane njemačkih pravosudnih organa krivični 
            postupak zbog kršenja Zakona o kontroli ratnog naoružanja - transport, izvoz i prevoz raznog naoružanja bez dozvole,
            čime je izvršio krivično djelo krijumčarenje putem pomaganja iz čl.
            <a href="/krivicni#art_265_para_1_point_1">
                čl. 265. st. 1.
            </a>
            u vezi
            <a href="/krivicni#art_25_para_1_point_2">
                čl. 25
            </a>
            Pa ga Sud primjenom citiranih zakonskih odredbi te 
            <a href="/krivicni#art_4_para_2">
                čl. 4. st. 2
            </a>
            ,
            <a href="/krivicni#art_32">
                32.
            </a>
            ,
            <a href="/krivicni#art_36">
                36.
            </a>
            ,
            <a href="/krivicni#art_36a">
                39
            </a>
            ,
            <a href="/krivicni#art_42_para_1_point_3">
                42.
            </a>
            ,
            <a href="/krivicni#art_45">
                45.
            </a>
            ,
            <a href="/krivicni#art_46_para_1_point_1_point_4">
                46. st. 1. tač. 4. 
            </a>
            ,
            <a href="/krivicni#art_46_para_1_point_1_point_4">
                čl 51 
            </a>
            Krivičnog Zakonika Crne Gore, te 
            <a href="/postupak#art_226">
                čl. 226
            </a>
            ,
            <a href="/postupak#art_229">
                čl. 229
            </a> i 
            <a href="/postupak#art_374">
                374
            </a>
            Zakonika o krivičnom postupku,
            O S U Đ U J E
            Na kaznu zatvora u trajanju od 8 (osam) mjeseci, u koju kaznu mu se uračunava vrijeme provedeno u pritvoru od 08. 04. 2016. godine od 07:00 časova, pa nadalje dok pritvor bude trajao i
            O S U Đ U J E
            Na novčanu kaznu u iznosu od 1.200,00 eura (hiljadudvijestotine eura) koju je optuženi dužan platiti u roku od 3 (tri) mjeseca po pravosnažnosti presude pod prijetnjom prinudnog izvršenja, a ako izrečenu novčanu kaznu ne plati u određenom roku, sud će novčanu kaznu zamijeniti kaznom zatvora, tako što će za svakih započetih 25,00€ (dvadesetpeteura) novčane kazne odrediti jedan dan kazne zatvora, s tim da kazna zatvora ne može biti duža od 6 (šest) mjeseci.
            Obavezuje se optuženi da plati po osnovu troškova krivičnog postupka iznos od 30,00 eura, u roku od 15 dana po pravosnažnosti presude, pod prijetnjom prinudnog izvršenja.
        </p>
    </div>
</html>