<?xml version="1.0" encoding="UTF-8"?>
<html>
    <style>
        h1,
        h2,
        h3 {
          text-align: center;
        }
    
        h2 {
          margin-top: 20px;
        }
    
        section,
        h1 {
          margin-bottom: 60px;
        }
    
    </style>
    <div>
        <h2>OSNOVNI SUD U PODGORICI</h2>
        <h1>K 294/2012</h1>
        <h3>2012-04-20</h3>
        <p>
            OSNOVNI SUD U PODGORICI
            k.br.12/294
            U IME CREN GORE
            Sudija pojedinac Jelena Perović Kovačević
            , uz učešće Slađane Vlahović
            , kao zapisničara, u krivičnom predmetu protiv optuženog Z.J.
            , koga u postupku brani adv. D.M., 
            zbog krivičnog djela krijumčarenje iz
            <a href="/krivicni#art_265_para_1_point_1">
                čl.265 st.1 Krivičnog zakonika
            </a>
            , odlučujući o optužnom predlogu ODT Podgorica Kti.br.372/12 od 15.03.2012. godine, koga je na ročištu povodom odlučivanja o sporazumu o priznavanju 
            krivice zastupala Andrijana Nastić
            , zamjenik ODT Podgorica, nakon donošenja rješenja o usvajanju sporazuma o priznavanju krivice, donio je dana 23.04.2011. godine
            PRESUDU Optuženi Z.J.
            , od oca M. i majke L., rodjene Z., rodjen ... godine, u mjestu V., R. A., sa prebivalištem u P., Z. Ul. S. I., Albanac, oženjen, otac troje dejece, 
            zaposlen u preduzeću "O. F." u T.- R. A., pismen, lošeg imovnog stanja.
            K r i v j e
            Zato što je:
            Dana 10.03.2012 godine, na carinskom prelazu Božaj, prenio robu preko carinske linije izbjegavajući mjere carinskog nadzora, a koju je nemajući 
            ovlašćenje za troginu nobavio u Republici Albaniji, Grčkoj, Italiji i u svrhu prodaje unio na teritoriji Crne Goren na način što je na skrovitom
            mjestu u svom putničkom vozilu marke "Pežo" reg. br. SH 3207E sakrio veću količinu ljekova i medikamenata, i to: 43 kutije lijeka Lendacin, 
            10 bočica lijeka Dostinex, 20 kutija Nozinan 25 mg, 20 kutija lijeka Airol, 1 kutija lijeka Donogen 200 mg, 1 kutija lijeka Donogen 100 mg, 
            4 kutije lijeka Betaserc, 1 kutija lijeka Gonasi HP 5000, 131 tabla lijeka Frisijum 10 mg, 100 tabli lijeka Rivotril 2 mg, 
            20 tabli lije Frisijum 10 mg, 30 tabli lijeka Mylan, 16 tabli lijeka Rovamycine,1 aparat za pritisak marke Amron,1 aparat za pritisak 
            marke Weinberger, 47 ampula lijeka Raciwel, 32 boce sirupa Nootom -paracetam, -30 kutija lijeka Ferlixit 62,5 mg/5, 1.100 kesica Aulin 100 mg,
            100 kutija lijeka Plaquemil 200 mg, -20 kutija lijeka Butavate ointenent 25 gr, 15 komada Lamisil crema, 17 komada lijeka Aldactone 25 mg,
            10 tabli lijeka Crestor 5 mg, 18 tabli lijeka Ditropan 5 mg, 10 kutija Inderali 40 mg, 15 kutija lijeka Edemid 500 mg,, 
            240 kutija lijeka Cialis 20 mg, 240 kutija lijeka Viagra 100 mg,sve ukupna vrijenosti preko 3.000 eura, nakon čega je prilikom konktrole 
            službenika UP PJ - Sektor granične policije u mejstu Vuksanlekići istog dana bio otkrivne prilikom vršenja kontrole predmetnog vozila.
            <a href="/krivicni#art_265_st_1">
                čime je izvršio krivično djelo krijumčarenje iz
            </a>
            Pa ga sud primjenom citiranih zakonsih odredbi, te članova 4 st.2, 32,33,36,42,45,46 i 51 Krivičnog zakonika, 
            <a href="/krivicni#art_4_para_1_point_2">
                čl. 4 st.2
            </a>
            ,
            <a href="/krivicni#art_32">
                32
            </a>
            ,
            <a href="/krivicni#art_33">
                33
            </a>
            ,
            <a href="/krivicni#art_36">
                36
            </a>
            ,
            <a href="/krivicni#art_42">
                42
            </a>
            ,
            <a href="/krivicni#art_45">
                45
            </a>
            ,
            <a href="/krivicni#art_46">
                46
            </a>
            i
            <a href="/krivicni#art_51">
                51
            </a>
            Krivičnog zakonika, kao i čl
            <a href="/postupak#art_226">
                226
            </a>
            ,
            <a href="/postupak#art_229">
                229
            </a>
            ,
            <a href="/postupak#art_303">
                303. 
            </a>
            Zakonika o krivičnom postupku
            OSUĐUJE
            Na kaznu zatvora u trajanju od 45 (četrdeset pet) dana, u koju kaznu im se uračunava vrijeme provedeno u pritvoru u trajanju od 10.03.2012. godine, 
            od 23.00 časa pa do dana 23.04.2012 godine i na novčanu kaznu u iznosu od po 1.500,00€ (hiljadu i pesto eura).
            Obavezuje se okrivljeni
            da na ime troškova krivičnog postupka uplati iznos od 50,00€ na ime sudskog paušala, sve u roku od 15 od dana pravosnažnosti
            presude pod prijetnjom prinudnog izvršenja.
        </p>
    </div>
</html>