<?xml version="1.0" encoding="UTF-8"?>
<html>
    <style>
        h1,
        h2,
        h3 {
          text-align: center;
        }
    
        h2 {
          margin-top: 20px;
        }
    
        section,
        h1 {
          margin-bottom: 60px;
        }
    
    </style>
    <div>
        <h2>Osnovni Sud u Pljevljima</h2>
        <h1>K 36/2022</h1>
        <h3>2022-09-14</h3>
        <p>OSNOVNI SUD U PLJEVLJIMA , po sudiji Ljiljani Popović uz sudjelovanje zapisničara Mirjane Krvavac , u krivičnom predmetu protiv optuženog 
        Š. Z. iz P. zbog krivičnog djela krijumčarenje iz 
        <a href="/krivicni#art_265_para_1_point_1">
            čl.265 st.1 Krivičnog zakonika Crne Gore
        </a>
        a po optužnom predlogu ODT Pljevlja 
        Kt.br.67/22 od 01.06.2022. godine, nakon održanog glavnog i javnog pretresa u prisustvu DT Pljevlja Gačević Ivana i optuženog 
        Š. Z.
        , dana 14.09.2022. godine donio je i javno objavio
        P R E S U D U
        Optuženi Š. Z. 
        JMBG .... od oca Lj. i majke R. rođene J., rođen u P. dana .... godine sa prebivalištem u Pljevljima ul...., državljanin Crne Gore, oženjen, 
        otac troje punoljetno djece, vlasnik DOO „T.“, pismen, završio šumarski fakultet, govori srpskim jezikom, razumije crnogorski jezik, srednjeg 
        imovnog stanja, živi od zarade od 200,00 € do 300,00 €, nevodi se postupak za drugo krivično djelo, osuđivan presudom Višeg suda u Bijelom Polju
        Kv.br.191/2015 na kaznu zatvora od 6 godina i 10 mjeseci zbog krivičnog djela neovlašćena proizvodnja, držanje i stavljanje u promet opojnih 
        droga iz 
        <a href="/krivicni#art_300_para_1_point_1">
        čl.300 st.1 KZ CG
        </a>
        , presudom Višeg suda u Bijelom Polju Kv.br.203/13 od 08.01.2014.godine na kaznu zatvora u trajanju od 4 godine zbog 
        krivičnog djela neovlašćena proizvodnja, držanje i stavljanje u promet opojnih droga iz 
        <a href="/krivicni#art_300_para_1_point_1">
        čl.300 st.1 KZ CG
        </a>
        , presudom Osnovnog suda u Pljevjima K.br.169/09 od 21.12.2009 Š. Z. 
        K R I V J E
        Što je:
        Dana 12.05.2022.godine oko 19,55 časova u Pljevljima, svjestan svog djela čije je izvršenje htio iako je znao da je isto zabranjeno bavio se 
        prenošenjem robe iz Bosne i Hercegovine u Crnu Goru preko carinske linije, izbjegavajući mjere carinskog nadzora, na način što je zaobilaznim
            makadamskim putem Foča (Bosna i Hercegovina)-Meštrevac-Glibaći (Crna Gora) zaobilazeći pritom granični i carinski prelaz, teretnim motornim 
            vozilom marke „VW Crafter“ reg.oznaka PV .... iz Bosne i Hercegovine u Crnu Goru prenio namještaj i to 7 dijelova garniture za sjedenje 
            bež boje upakovanih u najlonu i jedan ugao bež boje upakovan u najlonu pri čemu je u mjestu Ivlje opština Pljevlja zaustavljen i kontrolisan 
            od strane ovlašćenih policijskih službenika SGP Pljevlja,-
        čime je izvršio krivično djelo krijumčarenje iz 
        <a href="/krivicni#art_265">
            čl.265 st.1 Krivičnog zakonika Crne Gore
        </a>
        , pa ga sud primjenom citiranog zakonskog propisa, te 
        <a href="/krivicni#art_2">
            čl. 2
        </a>,
        <a href="/krivicni#art_4">
            4
        </a>,
        <a href="/krivicni#art_5">
            5
        </a>,
        <a href="/krivicni#art_13">
            13
        </a>,
        <a href="/krivicni#art_16">
            16
        </a>,
        <a href="/krivicni#art_17">
            17
        </a>,
        <a href="/krivicni#art_32">
            32
        </a>,
        <a href="/krivicni#art_36a">
            36-a
        </a>,
        <a href="/krivicni#art_39">
            39
        </a>,
        <a href="/krivicni#art_42">
            42
        </a>,
        <a href="/krivicni#art_45">
            45
        </a>,
        <a href="/krivicni#art_46">
            46
        </a>
        Krivičnog zakonika Crne Gore i 
        <a href="/postupak#art_226">
            čl. 226
        </a>,
        <a href="/postupak#art_229">
            229
        </a>
        i 
        <a href="/postupak#art_374">
            374
        </a>
        Zakonika o krivičnom postupku Crne Gore.
        O S U Đ U J E
        Na kaznu zatvora od 2 (dva) mjeseca i istovremeno određuje da će se kazna izvršiti izdržavanjem u prostorijama u kojima optuženi stanuje,bez napuštanja prostorija u kojima stanuje, uz primjenu elektronskog nadzora.
        Ukoliko optuženi jednom u trajanju preko šest časova ili dva puta u trajanju do šest časova, samovoljno napusti prostorije u kojima stanuje, sud će odrediti da ostatak kazne zatvora izdrži u Upravi za izvršenje krivičnih sankcija.
        Istovremeno sud optuženom izriče novčanu kaznu u iznosu od 800 (osamstotina) € koja će se u slučaju nenaplativosti zamijeniti kaznom zatvora tako što će se za svakih započetih 25,00 € novčane kazne odrediti jedan dan zatvora.
        Izrečenu novčanu kaznu optuženi je dužan platiti u roku od 6 (šest) mjeseci po pravosnažnosti ove presude.
        Optuženi je dužan platiti na ime paušala iznos od 27,50 €,
        a ovo u roku od 15 dana po pravosnažnosti pesude pod prijetnjom prinudnog izvršenja.
        Na osnovu čl.75 u vezi čl.265 st.4 Krivičnog zakonika Crne Gore prema optuženom se izriče i
        MJERA BEZBJEDNOSTI
        Od optuženog se kao predmet izvršenja krivičnog djela trajno oduzimaju sedam dijelova garniture za sjedenje bež boje i jedan ugao bež boje.
        </p>
    </div>
</html>