<?xml version="1.0" encoding="UTF-8"?>
<html>
    <style>
        h1,
        h2,
        h3 {
          text-align: center;
        }
    
        h2 {
          margin-top: 20px;
        }
    
        section,
        h1 {
          margin-bottom: 60px;
        }
    
    </style>
    <div>
        <h2>OSNOVNI SUD U BIJELOM POLJU</h2>
        <h1>K 400/2011</h1>
        <h3>2011-11-21</h3>
        <p>
            OSNOVNI SUD U BIJELOM POLJU, sudija pojedinac Ivan Adamović, sa zapisničarem Milica Jocović, postupajući po optužnom predlogu 
            Osnovnog državnog tužilaštva, u Bijelom Polju, Kt. br. 384/11-2 od 29. 09. 2011 godine, podnijetom protiv okrivljenog 
            , iz S. ul. .... D.a .., zbog krivičnog djela krijumčarenje iz 
            <a href="/krivicni#art_265_para_1_point_1">
                čl. 265 st. 1 Krivičnog zakonika
            </a>
            , nakon održanog usmenog, javnog i glavnog pretresa u prisustvu zamjenika ODT-a u B.Polju Vesne Šćepanović
            , branioca po službenoj dužnosti okrivljenog, adv. K.D.a
            iz B.Polja, a u odsustvu okrivljenog  H.M.a 
            kome se sudilo u odsustvu shodno rješenju ovog suda Kv. br. 444/2011, dana 21. 11. 2011 godine, donio je i javno objavio
            P R E S U D U
            Okrivljeni H.M.
            , od oca I..., majke A.., rođene A.., rođen ... godine, u S... gdje je i nastanjen u ul. .... D.a bb, drž. Srbije , neoženjen, sa završenom Višom školom,
             lošeg imovnog stanje, osuđivan presudom Okružnog suda u Novom Pazaru Kž br 288/07 od 26. 02. 2008 godine, zbog KD iz 
            <a href="/krivicni#clan_208">
                člana 208 st. 1 KZ-a Srbije
            </a>
            , uslovnom osudom od tri mjeseca zatvora,
            K r i v j e
            -Što je:
            -Dana 08. 09. 2011 godine, izbjegavajući mjere carinskog nadzora na carinskom prelazu »D.« opština Bijelo Polje, preko carinske linije zaobilaznim putem
            B. - B., svojim putničkim motornim vozilom marke »Mercedes« reg.ozn. NP 017 UŠ, prenio robu oko 160 kg. paprika punjenih pavlakom i oko 7 kg sira,
            ukupne vrijednosti oko 625,00€, iz Srbije u Crnu Goru nakon čega je u mjestuG.opština Bijelo Polje, zaustavljen i kontrolisan, od strane ovlašćenih 
            službenika UP-IGP Bijelo Polje,
            -čime je izvršio krivično krijumčarenje iz 
            <a href="/krivicni#art_265_para_1_point_1">
                čl.265 st.1 Krivičnog zakonika
            </a>
            ,-pa ga sud, primjenom citiranog zakonskog propisa, te 
            <a href="/krivicni#art_2">
                čl. 2
            </a>
            , 
            <a href="/krivicni#art_4">
                4
            </a>
            , 
            <a href="/krivicni#art_5">
                5
            </a>
            , 
            <a href="/krivicni#art_13">
                13
            </a>
            , 
            <a href="/krivicni#art_15">
                15
            </a>
            , 
            <a href="/krivicni#art_32">
                32
            </a>
            , 
            <a href="/krivicni#art_36">
                36
            </a>
            , 
            <a href="/krivicni#art_39">
                39
            </a>
            , 
            <a href="/krivicni#art_42">
                42
            </a>
            , 
            <a href="/krivicni#art_45">
                45
            </a>
            , 
            <a href="/krivicni#art_46">
                46
            </a>
            Krivičnog zakonika 
            , i čl
            <a href="/postupak#art_226">
                226
            </a>
            , 
            <a href="/postupak#art_229">
                229
            </a>
            , i 
            <a href="/postupak#art_374">
                374
            </a>
            Zakonika o krivičnom postupku
            ,
            O S U Đ U J E
            Na kaznu zatvora od 30 (trideset) dana, kao glavnu kaznu i na novčanu kaznu od 250,00€ (dvestapedeseteura), kao sporednu kaznu, koju kaznu je dužan da
            plati ovom sudu u roku od 3 (tri) mjeseca, po pravosnažnosti presude, na račun Depozita novčanih kazni, troškova postupka i paušala CG, broj: 832-151-35
            , s tim što je dokaz o uplati iste dužan dostaviti krivičnoj pisarnici ovog suda.
            Ako osuđeni ne plati novčanu kaznu u određenom roku, sud će novčanu kaznu zamijeniti kaznom zatvora, tako što će za svakih započetih 25,00 eura 
            novčane kazne odrediti jedan dan zatvora, a ako osuđeni plati samo dio novčane kazne, sud će ostatak kazne srazmjerno zamijeniti kaznom zatvora,
            pa ako osuđeni isplati ostatak novčane kazne, izvršenje kazne zatvora će se obustaviti. Okrivljeni 
            se obavezuje da na ime paušala plati ovom sudu iznos od 25,00€, koji iznos će uplatiti na Depozit novčanih kazni, troškova postupka i 
            paušala ovog suda, na žiro račun broj: 832-151-35, u roku od 15 dana, po pravosnažnosti presude, pod prijetnjom prinudnog izvršenja, s tim što je dokaz o 
            uplati istog dužan dostaviti krivičnoj pisarnici ovog suda.
        </p>
    </div>
</html>