<?xml version="1.0" encoding="UTF-8"?>
<html>
    <style>
        h1,
        h2,
        h3 {
          text-align: center;
        }
    
        h2 {
          margin-top: 20px;
        }
    
        section,
        h1 {
          margin-bottom: 60px;
        }
    
    </style>
    <div>
        <h2>OSNOVNI SUD U ROŽAJAMA</h2>
        <h1>K 60/2021</h1>
        <h3>2021-06-02</h3>
        <p>
            OSNOVNI SUD U ROŽAJAMA i to Predsjednik suda Camić Zahit , kao sudija pojedinac, sa zapisničarem Adisom Burdžović , odlučujući po optužnom predlogu
			Osnovnog državnog tužilaštva iz Rožaja Kt.br.84/21. od 01.6.2021.g, protiv okrivljenog K. S. , iz R., zbog krivičnog djela krijumčarenje iz
            <a href="/krivicni#art_265_para_1_point_1">
                čl. 265.st.1. Krivičnog Zakonika Crne Gore
            </a> , nakon održanog glavnog i javnog pretresa u prisustvu Državnog Tužioca Kalač Aldina iz Rožaja, i okrivljenog, dana 02.6.2021.g. donio je i javno objavio,
            P R E S U D U Okrivljeni: K. S. , JMB ... od oca I., i majke F., rodj. S., rodjen ...
            . godine u R., gdje i živi, drž. CG, razumije crnogorski jezik, a maternji jezik mu je bosanski, oženjen, otac sedmoro maloljetne djece, pismen,
                završio osnovnu školu, nezapošljen, siromašnog imovnog stanja, neosuđivan.
			K R I V J E
            Što je:
            dana 09.5.2021. godine, oko 11,00h, u mjestu vz. Karalula, opština Rožaje, u uračunljivom stanju, svjestan svog djela čije je izvršenje htio, 
            iako je znao da je njegovo djelo zabranjeno, bavio se prenošenjem robe preko carinske linije, izbjegavajući mjere carinskog nadzora i to: jedne krave
            i jednog teleta, na način što je navedenu stoku kupio u selu Saš, opština Tutin, Republika Srbija, a zatim istu utovario u svoje teretno motorno 
            vozilo marke „M. b.“, reg. oznaka RO ... i zaobilaznim putem istu unio iz Republike Srbije u Crnu Goru, kojom prilikom je zatečen od strane službenika 
            Stanice granične policije I Rožaje,
            -čime je izvršio krivično djelo krijumčarenje iz
            <a href="/krivicni#art_265_para_1_point_1">
                čl. 265.st.1. Krivičnog Zakonika Crne Gore
            </a>
            Pa mu sud na osnovu pomenutog zakonskog propisa, primjenom
            <a href="/krivicni#art_3">
                čl. 3
            </a>
            ,
            <a href="/krivicni#art_4">
                4
            </a>
            ,
            <a href="/krivicni#art_13">
                13
            </a>
            ,
            <a href="/krivicni#art_15">
                15
            </a>
            ,
            <a href="/krivicni#art_32">
                32
            </a>
            ,
            <a href="/krivicni#art_36">
                36
            </a>
            ,
            <a href="/krivicni#art_39">
                39
            </a>
            ,
            <a href="/krivicni#art_45">
                45
            </a>
            ,
            <a href="/krivicni#art_46_para_1_point_1_point_5">
                46 st.1. tač.5. čl.
            </a>
            ,
            <a href="/krivicni#art_52">
                52
            </a>
            ,
            <a href="/krivicni#art_53">
                53
            </a>
            ,
            <a href="/krivicni#art_54">
                54
            </a>
            ,
            <a href="/postupak#art_226_para_1_point_4">
                226.st.4.
            </a>
            i
            <a href="/postupak#art_229_para_1_point_4">
                229 st. 4. 
            </a>
            i čl.
            <a href="/postupak#art_374">
                374
            </a>
            Zakonika o Krivičnog Postupku, i
            i z r i č e
            USLOVNU OSUDU
            Kojom mu utvrdjuje kaznu zatvora u trajanju od 3 (tri) mjeseca i istovremeno odredjuje da se ista neće izvršiti ukoliko osudjeni u roku od 
            jedne godine od pravnosnažnosti presude ne učini novo krivično djelo i
            O S U DJ U J E
            NA NOVČANU KAZNU u iznosu od 200 (dvijestotine) eura, koju je osudjeni dužan da plati u roku od 15 dana po pravnosnažnosti presude. Ako osudjeni ne 
            plati novčanu kaznu u ovom roku, sud će istu zamijeniti kaznom zatvora tako što će za svakih započetih 25 eura novčane kazne odrediti jedan dan 
            kazne zatvora.Okrivljeni
            se oslobadja plaćanja troškova krivičnog postupka – paušala usled slabog imovnog stanja.
            Na osnovu
            <a href="/krivicni#art_265_para_1_point_4">
                čl. 265.st.4.
            </a>
            Krivičnog Zakonika Crne Gore od okrivljenog 
            se oduzimaju jedna krava i jedno tele, kao predmeti krivičnog djela.
            Sve ovo u roku od 15 dana po pravnosnažnosti presude.
        </p>
    </div>
</html>