<?xml version="1.0" encoding="UTF-8"?>
<html>
    <style>
        h1,
        h2,
        h3 {
          text-align: center;
        }
    
        h2 {
          margin-top: 20px;
        }
    
        section,
        h1 {
          margin-bottom: 60px;
        }
    
    </style>
    <div>
        <h2>Osnovni Sud u Rožajama</h2>
        <h1>K 64/2019</h1>
        <h3>2019-05-14</h3>
        <p>
            OSNOVNI SUD U ROŽAJAMA i to Predsjednik suda Camić Zahit , kao sudija pojedinac, sa zapisničarem Sajmo Hadžić
            , odlučujući po optužnom predlogu Osnovnog državnog tužilaštva iz Rožaja Kt.br. 71/19. od 14.05.2019.g, protiv okrivljenog 
            B. M., iz P., zbog krivičnog djela krijumčarenje iz 
            <a href="/krivicni#art_265_para_1_point_1">
                čl. 265. st. 1. Krivičnog Zakonika Crne Gore
            </a>
            , nakon održanog glavnog i javnog pretresa u prisustvu Državnog Tužioca Selmanović Armina
            iz Rožaja i okrivljenog, dana 14.05.2019.g. donio je i javno objavio,
            P R E S U D U
            Okrivljeni: B. M.
            , JMB ... , od oca M. i majke A. rodjena J., rodjen .... godine u P., sa prebivalištem u mjestu rodjena u ul. „K.“ br. ... , državljanin CG, razumije crnogorski jezik koji mu je i maternji, po zanimanju turistički tehničar, oženjen, otac dvoje djece, završio SSS, srednjeg imovnog stanja, neosudjivan.
            K R I V J E
            Što je:
            dana 10.04.2019.godine, u mjestu zv. D., O. R., u uračunljivom stanju, svjestan svog djela čije je izvršenje htio, iako je znao da je njegovo djelo zabranjeno, 
            bavio se prenošenjem robe preko carinske linije, izbjegavajući mjere carinskog nadzora i to: 6 komada zvučnika N-18W, 4 komada zvučnika X-12CLA i 2 komada 
            zvučnika N-15, na način što je robu prevezao svojim kombi vozilom marke Nisan reg. oznaka PG ... zaobilaznim putem, bez evidentiranja na graničnom prelazu D., O. R.,
            izbjegavajući na taj način mjere carinskog nadzora,
            -čime je izvršio krivično djelo krijumčarenje iz 
            <a href="/krivicni#art_265_para_1_point_1">
                čl. 265. st. 1. Krivičnog zakonika Crne Gore
            </a>
            .
            Pa mu sud na osnovu pomenutog zakonskog propisa primjenom 
            <a href="/krivicni#art_3">
                čl. 3.
            </a>
            <a href="/krivicni#art_4">
                4.
            </a>
            <a href="/krivicni#art_5">
                5.
            </a>
            <a href="/krivicni#art_13">
                13.
            </a>
            <a href="/krivicni#art_15">
                15.
            </a>
            <a href="/krivicni#art_32">
                32.
            </a>
            <a href="/krivicni#art_36">
                36.
            </a>
            <a href="/krivicni#art_39">
                39.
            </a>
            <a href="/krivicni#art_46_para_1_point_1_point_5">
                46.
            </a>
            <a href="/krivicni#art_52">
                52.
            </a>
            <a href="/krivicni#art_53">
                53.
            </a>
            <a href="/krivicni#art_54">
                54.
            </a>
            <a href="/krivicni#art_256_para_1_point_4">
                265. st. 4 
            </a>
            Krivičnog zakonika Crne Gore, 
            <a href="/postupak#art_226">
                226.
            </a>
            <a href="/postupak#art_229">
                229.
            </a>
            i 
            <a href="/postupak#art_374">
                374.
            </a>
            Zakonika o krivičnom postupku, izriče
            USLOVNU OSUDU
            Kojom mu utvrdjuje kaznu zatvora u trajanju od 45 (četrdesetpet) dana i istovremeno odredjuje da se ista neće izvršiti ukoliko isti u roku od 1 
            (jedne) godine po pravosnažnosti presude ne izvrši novo krivično djelo i
            OSUDJUJE
            Na novčanu kaznu u iznosu od 200,00 eura koju je dužan da plati u roku od 15 dana po pravosnažnosti presude. Ako novčanu kaznu ne plati u ovom roku,
            sud će istu zamijeniti kaznom zatvora, tako što će za svakih započetih 25,00 eura novčane kazne odrediti jedan dan zatvora.
            Da plati u korist budžetskih sredsava na ime troškova krivičnog postupka-paušala iznos od 40,00 eura.
            Okrivljenom se izriče
            MJERA BEZBIJEDNOSTI
            Od okrivljenog se oduzima i to: 6 komada zvučnika N-18W, 4 komada zvučnika X-12CLA i 2 komada zvučnika N-15 kao predmeti izvršenog krivičnog djela.
            Sve u roku od 15 dana po pravosnažnosti presude.
            </p>
    </div>
</html>