<?xml version="1.0" encoding="UTF-8"?>
<html>
    <style>
        h1,
        h2,
        h3 {
          text-align: center;
        }
    
        h2 {
          margin-top: 20px;
        }
    
        section,
        h1 {
          margin-bottom: 60px;
        }
    
    </style>
    <div>
        <h2>Osnovni Sud u Rožajama</h2>
        <h1>K 72/2020</h1>
        <h3>2020-05-30</h3>
        <p>
            OSNOVNI SUD U ROŽAJAMA i to Predsjednik suda Camić Zahit , kao sudija pojedinac, sa zapisničarem Adisom Burdžović
            , odlučujući po optužnom predlogu Osnovnog državnog tužilaštva iz Rožaja Kt.br.96/20. od 30.5.2020.g, protiv okrivljenog
            K.N. , iz R., zbog krivičnih djela krijumčarenje iz 
            <a href="/krivicni#art_265_para_1_point_1">
                čl. 265. st. 1
            </a> i nepostupanje po zdravstvenim propisima za suzbijanje opasne zarazne bolesti iz
            <a href="/krivicni#art_287">
                čl. 287.
            </a>
            Krivičnog Zakonika Crne Gore, nakon održanog glavnog i javnog pretresa u prisustvu Državnog Tužioca Kalač Hajrana
            iz Rožaja, i okrivljenog, dana 30.5.2020.g. donio je i javno objavio,
            P R E S U D U Okrivljeni: K.N.
            , JMB ..., od oca I. i majke Z., rodj. M., rodjen ... . godine, u T., živi u s. D. C., o. R., drž. R. Srbije, razumije crnogorski jezik, koji mu je 
            i maternji jezik, pismen, završio SSS, zepošljen, oženjen, otac šestoro maloljetne djece, siromašnog imovnog stanja, osuđivan.
            K R I V J E Što je:
            <a href="/krivicni#art_265_para_1_point_1">
                čl. 265. st. 1
            </a>
            Krivičnog Zakonika Crne Gore.
            dana 29.05.2020.godine, oko 23,30 h, u mjestu Gornja Crnča – Aljov grob, Opština Rožaje, u uračunljivom stanju, svjestan svog djela čije je 
            izvršenje htio, iako je znao da je njegovo djelo zabranjeno, bavio se prenošenjem robe preko carinske linije, izbjegavajući mjere carinskog nadzora 
            i to: 22 para obuće i to 15 pari muških cipela i 7 pari ženskih cipela za odrasle, na način što je navedenu robu unio iz Republike Srbije u Crnu Goru
            , bez evidentiranja na graničnom prelazu „Dračenovac“ i prevozio je putničkim motornim vozilom marke „Golf“ II, reg. oznaka TT 022 GD, na području 
            Crne Gore, kojom prilikom je zatečen od strane službenika granične policije, -čime je izvršio krivično djelo krijumčarenje iz
            <a href="/krivicno#art_265_para_1_point_1">
                čl. 265. st. 1
            </a>
            Krivičnog Zakonika Crne Gore.
            dana 29.05.2020.godine, oko 23,30 h, u mjestu Gornja Crnča – Aljov grob, Opština Rožaje, u uračunljivom stanju, svjestan svog djela čije je izvršenje htio, iako je znao da je njegovo djelo zabranjeno, postupao protivno odredbi
            čl. 1. st. 1. tačka 7. alineja 4. Naredbe za preduzimanje privremenih mjera za sprječavanje unošenja u zemlju, suzbijanje i sprječavanje prenošenja novog korona virusa, Ministarstva zdravlja Crne Gore (Sl. list CG br. 14/20 od 13.03.2020.godine)
            , kojim je zatvoren granični prelaz za putnički granični saobraćaj prema Republici Srbiji, Vuče – Godovo na putnom pravcu Rožaje – Tutin, na način što je putničkim motornim vozilom marke „Golf“ II, reg. oznaka TT ... , ušao iz pravca Opštine Tutin, Republika Srbija u Crnu Goru, na navedenom mjestu, kojom prilikom je zatečen od strane patrole granične policije, -čime je izvršio krivično djelo nepostupanje po zdravstvenim propisima za suzbijanje opasne zarazne bolesti iz
            <a href="/krivicno#art_287">
                čl. 287.
            </a>
            Krivičnog zakonika Crne Gore.
            Pa mu sud na osnovu pomenutih zakonskih propisa, primjenom
            <a href="/krivicni#art_3">
                čl. 3
            </a>
            ,
            <a href="/krivicni#art_4">
                4
            </a>
            ,
            <a href="/krivicni#art_13">
                13
            </a>
            ,
            <a href="/krivicni#art_15">
                15
            </a>
            ,
            <a href="/krivicni#art_32">
                32
            </a>
            ,
            <a href="/krivicni#art_36">
                36
            </a>
            ,
            <a href="/krivicni#art_39">
                39
            </a>
            ,
            <a href="/krivicni#art_42">
                42
            </a>
            ,
            <a href="/krivicni#art_45">
                45
            </a>
            ,
            <a href="/krivicni#art_46_para_1_point_5">
                46
            </a>
            Krivičnog Zakonika Crne Gore
            U T V R D J U J E
            - za krivično djelo krijumčarenje iz
            <a href="/krivicni#art_265">
                čl. 265.st.1.
            </a>
            Krivičnog Zakonika Crne Gore kaznu zatvora u trajanju od 30 dana,
            - za krivično djelo nepostupanje po zdravstvenim propisima za suzbijanje opasne zarazne bolesti iz
            <a href="/krivicni#art_287">
                čl. 287.
            </a>
            Krivičnog Zakonika Crne Gore kaznu zatvora u trajanju od 30 dana, Pa ga sud primjenom
            <a href="/krivicni#art_48">
                čl. 48.
            </a>
            Krivičnog Zakonika Crne Gore
            O S U DJ U J E
            N A J E D I N S T V E N U kaznu zatvora u trajanju od 45 (četrdesetpet) dana i
            N A N O V Č A N U K A Z N U u iznosu od 200,00 (dvijestotine) eura, koju je okrivljeni dužan da plati u roku od 15 dana po pravnosnažnosti presude. 
            Ako osuđeni ne plati novčanu kaznu u ovom roku, sud će istu zamijeniti kaznom zatvora
        </p>
    </div>
</html>