<?xml version="1.0" encoding="UTF-8"?>
<html>
    <style>
        h1,
        h2,
        h3 {
          text-align: center;
        }
    
        h2 {
          margin-top: 20px;
        }
    
        section,
        h1 {
          margin-bottom: 60px;
        }
    
    </style>
    <div>
        <h2>OSNOVNI SUD U BIJELOM POLJU</h2>
        <h1>K 783/09</h1>
        <h3>2010-04-16</h3>
        <p>
            OSNOVNI SUD U BIJELOM POLJU
            kao prvostepeni krivični, u vijeću sastavljenom od sudije Rahma Banda
            kao predsjednika vijeća, i sudija porotnika Pešić Miljan i Bećirović Gana
            kao članova vijeća, uz učešće zapisničara LJ.P.
            , rješavajući u krivičnom predmetu protiv optuženog H.H.a
            iz Sjenice Republika Srbija, zbog krivičnog djela krijumčarenje iz
            <a href="/krivicni#art_265_para_1_point_1">
                čl. 265. st. 1. Krivičnog Zakonika CG
            </a>
            , postupajući po Optužnici ODT iz Bijelog Polja Kt.br.620/09 od 20.10.2009. godine, nakon održanog, usmenog, glavnog i javnog pretresa u prisustvu 
            zamjenika ODT iz Bijelog Polja Perović Cmiljane
            i branioca optuženog K.D.a
            adv. iz Bijelog Polja, koji je postavljen po službenoj dužnosti, a u odsustvu optuženog
            H.H.a, donio je dana 16.04.2010. godine i javno objavio:
            P R E S U D U
            Optuženi H.H.
            , od oca I. i majke E. rodjene G., rodjen .... godine u Sjenici Opština Sjenica R.Srbija, sa prebivalištem u mjestu rodjenja - Dubnica, pismen, 
            po zanimanju prosvjetni radnik, sa završenom VSS, oženjen, otac jednog djeteta, nezaposlen, državljanin R.Srbije, srednjeg imovnog stanja, 
            vojsku služio,
            osudjivan.
            K R I V J E
            Što je:
            - dana 29.09.2009.godine oko 08,00 h, izbjegavajući mjere carinskog nadzora na carinskom prelazu Dobrakovo, Opština Bijelo Polje, preko carinske 
            linije, zaobilaznim putem borišići - Bistrica, svojim putničkim motornim vozilom marke '' Golf II'' reg.br. NP 654-23, prenio 123 plastične kante 
            sa paprikama u pavlaci, težine oko 250 gr, ukupne vrijednosti oko 600,00 eura, iz Republike Srbije u Crnu Goru, pri čemu je u mjestu Konatari, 
            Opština Bijelo polje, zaustavljen i kontrolisan od strane ovlašćenih službenika Uprapve Policije - Ispostave graničnen policije Bijelo Polje,
            - čime je izvršio krivično djelo krijumčarenje iz
            <a href="/krivicni#art_265_st_1">
                čl. 265. st. 1. Krivičnog Zakonika CG
            </a>
            .
            Pa ga sud primjenom citiranih zakonskih poropisa i
            <a href="/krivicni#art_2">
                čl. 2
            </a>
            ,
            <a href="/krivicni#art_4">
                4
            </a>
            ,
            <a href="/krivicni#art_5">
                5
            </a>
            ,
            <a href="/krivicni#art_13">
                13
            </a>
            ,
            <a href="/krivicni#art_15">
                15
            </a>
            ,
            <a href="/krivicni#art_32">
                32
            </a>
            ,
            <a href="/krivicni#art_36">
                36
            </a>
            ,
            <a href="/krivicni#art_39">
                39
            </a>
            ,
            <a href="/krivicni#art_42">
                42
            </a>
            ,
            <a href="/krivicni#art_45">
                45
            </a>
            i
            <a href="/krivicni#art_46_para_1_point_1_point_5">
                46 st. 1. tač. 5. Krivičnog Zakonika CG
            </a>
            , te
            <a href="/postupak#art_199">
                čl. 199
            </a>
            ,
            <a href="/postupak#art_202">
                202
            </a>
            i
            <a href="/postupak#art_364">
                364
            </a>
            ZKP-a,
            O S U DJ U J E
            Na kaznu zatvora u trajanju od 30. (trideset) dana, i
            Na novčanu kaznu u iznosu od 200,00 € (dvijestotine eura), koju kaznu je dužan da platu ovom sudu u roku od 3 (tri) mjeseca po pravosnažnosti 
            presude, ako osudjeni ne plati novčanu kaznu u odredjenom roku, sud će novčanu kaznu zamijeniti kaznom zatvora, tako što će za svakih započetih 
            25,00 € (dvadesetpet eura), novčane kezne odrediti jedan dan zatvora, a ako osudjeni plati samo dio novčane kazne, sud će ostatak kazne srazmjerno 
            zamijeniti kaznom zatvora, pa ako osudjeni isplati ostatak novčane kazne, izvršenje kazne zatvora će se obustaviti.
            Obavezuje se okrivljeni da na ime paušala plati ovom sudu iznos od 30,00 € (trideset eura), kao i na ime troškova krivičnog postupka 375,00 eura 
            (tristasedamdesetpet eura) u roku od 15. dana po pravnosnažnosti presude.
            Od optuženog se oduzimaju 123 plastične kante sa paprikama u pavlaci težine od 250 kgr, kao predmeti koji su upotrijebljeni za izvršenje krivičnog
            djela a na osnovu
            <a href="/krivicni#art_66">
                čl. 66
            </a>
            ,
            <a href="/krivicni#art_67_para_1_point_7">
                67. tač. 7
            </a>
            i
            <a href="/krivicni#art_75_para_1_point_3">
                75 u vezi st. 3. KZ CG
            </a>
            .
        </p>
    </div>
</html>