<?xml version="1.0" encoding="UTF-8"?>
    <html>
    <style>
        h1,
        h2,
        h3 {
          text-align: center;
        }
    
        h2 {
          margin-top: 20px;
        }
    
        section,
        h1 {
          margin-bottom: 60px;
        }
    
    </style>
    <div>
        <h2>OS Rozaj</h2>
        <h1>K1-2024</h1>
        <h3>2024-01-01</h3>
        <p>
            presudaa bla bla <br/>  
            <a href="/krivicni#art_265_para_1_point_1">
                cl.265 KZ
            </a> <a href="/krivicni#art_5_para_1">
                cl.5 KZ
            </a>
        
        ZKP-a CG,
        O S U Dj U J E<br/>
         </p>
    </div>
    </html>