<?xml version="1.0" encoding="UTF-8"?>
    <html>
    <style>
        h1,
        h2,
        h3 {
          text-align: center;
        }
    
        h2 {
          margin-top: 20px;
        }
    
        section,
        h1 {
          margin-bottom: 60px;
        }
    
    </style>
    <div>
        <h2>Osnovni sud u Podgorici</h2>
        <h1>K5-2024</h1>
        <h3>2024-04-05T15:28</h3>
        <p>
            okej <br/>  <a href="/krivicni#art_6_para_1">
                cl.6 KZ
            </a>
        
        ZKP-a CG,
        O S U Ð U J E<br/>
         </p>
    </div>
    </html>