
    <html>
    <style>
        h1,
        h2,
        h3 {
          text-align: center;
        }
    
        h2 {
          margin-top: 20px;
        }
    
        section,
        h1 {
          margin-bottom: 60px;
        }
    
    </style>
    <div>
        <h2>Osnovni sud u Podgorici</h2>
        <h1>K5-2024</h1>
        <h3>2024-03-27T19:00</h3>
        <h5>uslovna</h5>
        <p>
            Osnovni sud u Podgorici, sudija Bez Veze, optuzeni Neko Tamo, postupak za krivnicno delo <a href="/krivicni#art_265">krijumcarenje </a>, sto je preneo mala kolicinu obuca uz seldece faktore : 
            
            zaobisao granicni prelaz : True, prevezao ogranicenu ili zabranjenu robu  : False 
            , prikrivao robu : False, rasturao robu : True , preprodavao robu : False
            , bio naoruzan : False , preneo oruzje : False, upotrebio silu ili pretnju False
            okej <br/>  <a href="/krivicni#art_6_para_1">
                cl.6 KZ
            </a>
        
        ZKP-a CG,
        <br/>
         </p>
    </div>
    </html>