<?xml version="1.0" encoding="UTF-8"?>
<html>
<style>
h1,
h2,
h3 {
text-align: center;
}

h2 {
margin-top: -20px;
}

section,
h1 {
margin-bottom: 60px;
}

h3 {
margin-top: 60px;
}
</style>
<?xml version="1.0" encoding="UTF-8"?>
    <div id="krivicni">
        <h1>
            Krivicni zakonik
        </h1>
        <div id="chp_1">
            <h2>
                I.
            </h2>
            <h2>
                OSNOVNE ODREDBE
            </h2>
            <section id="chp_1_sec_1">
                <div id="art_2">
                    <h3>
                        Član 2
                    </h3>
                    <div id="art_2_para_1">
                        <div id="art_2_para_1_content">
                            <p>
                                Kazna ili druga krivična sankcija može se izreći samo za djelo koje je, prije nego što je učinjeno, bilo zakonom određeno kao krivično djelo i za koje je bila zakonom propisana kazna .
                            </p>
                        </div>
                    </div>
                </article>
                <article id="art_4">
                    <h3>
                        Član 4
                    </h3>
                    <div id="art_4_para_1">
                        <div id="art_4_para_1_intro">
                            <p>
                                Krivične sankcije i njihova opšta svrha
                            </p>
                        </div>
                        <div id="art_4_para_1_point_1">
                            <h4>
                                1.
                            </h4>
                            <div id="art_4_para_1_point_1_content">
                                <p>
                                    Krivične sankcije su: kazne, mjere upozorenja, mjere bezbjednosti i vaspitne mjere;
                                </p>
                            </div>
                        </div>
                        <div id="art_4_para_1_point_2">
                            <h4>
                                2.
                            </h4>
                            <div id="art_4_para_1_point_2_content">
                                <p>
                                    Opšta svrha propisivanja i izricanja krivičnih sankcija je suzbijanje djela kojima se povređuju ili ugrožavaju vrijednosti zaštićene krivičnim zakonodavstvom;
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div id="chp_2">
            <h2>
                II.
            </h2>
            <h2>
                KRIVIČNO DJELO
            </h2>
            <section id="chp_2_sec_1">
                <div id="art_5">
                    <h3>
                        Član 5
                    </h3>
                    <div id="art_5_para_1">
                        <div id="art_5_para_1_content">
                            <p>
                            Krivično djelo je djelo koje je zakonom određeno kao krivično djelo, koje je protivpravno i koje je skrivljeno.
                            </p>
                        </div>
                    </div>
                </div>
                <div id="art_13">
                    <h3>
                        Član 13
                    </h3>
                    <div id="art_13_para_1">
                        <div id="art_13_para_1_point_1">
                            <h4>
                                1.
                            </h4>
                            <div id="art_13_para_1_point_1_content">
                                <p>
                                    Kriv je za krivično djelo učinilac koji je uračunljiv i koji je postupao sa umišljajem, a bio je svjestan ili je bio dužan i mogao biti svjestan da je njegovo djelo zabranjeno;
                                </p>
                            </div>
                        </div>
                        <div id="art_13_para_1_point_2">
                            <h4>
                                2.
                            </h4>
                            <div id="art_13_para_1_point_2_content">
                                <p>
                                    Za krivično djelo učinjeno iz nehata učinilac može biti kriv samo kad to zakon određuje;
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="art_15">
                    <h3>
                        Član 15
                    </h2>
                    <div id="art_15_para_1">
                        <div id="art_15_para_1_content">
                            <p>
                            Krivično djelo je učinjeno sa umišljajem kad je učinilac bio svjestan svog djela i htio njegovo izvršenje ili kad je učinilac bio svjestan da može učiniti djelo pa je na to pristao;
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div eId="chp_3">
            <h2>
                III.
            </h2>
            <h2>
                KAZNE
            </h2>
            <section id="chp_3_sec_1">
                <div id="art_32">
                    <h3>
                        Član 32
                    </h3>
                    <div id="art_32_para_1">
                        <div id="art_32_para_1_intro">
                            <p>
                                U okviru opšte svrhe krivičnih sankcija 
                                <a href="#art_4_para_1_point_2">
                                        (član 4 stav 2) 
                                </a>, svrha kažnjavanja je:
                            </p>
                        </div>
                        <div id="art_32_para_1_point_1">
                            <h4>
                                1.
                            </h4>
                            <div id="art_32_para_1_point_1_content">
                                <p>
                                    sprječavanje učinioca da čini krivična djela i uticanje na njega da ubuduće ne čini krivična djela;
                                </p>
                            </div>
                        </div>
                        <div id="art_32_para_1_point_2">
                            <h4>
                                2.
                            </h4>
                            <div id="art_32_para_1_point_2_content">
                                <p>
                                    ticanje na druge da ne čine krivična djela;
                                </p>
                            </div>
                        </div>
                        <div id="art_32_para_1_point_3">
                            <h4>
                                3.
                            </h4>
                            <div id="art_32_para_1_point_3_content">
                                <p>
                                    izražavanje društvene osude za krivično djelo i obaveze poštovanja zakona;
                                </p>
                            </div>
                        </div>
                        <div id="art_32_para_1_point_4">
                            <h4>
                                4.
                            </h4>
                            <div id="art_32_para_1_point_4_content">
                                <p>
                                    jačanje morala i uticaj na razvijanje društvene odgovornosti.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="art_36">
                    <h3>
                        Član 36
                    </h3>
                    <div id="art_36_para_1">
                        <div id="art_36_para_1_point_1">
                            <h4>
                                1.
                            </h4>
                            <div id="art_36_para_1_point_1_content">
                                <p>
                                    Kazna zatvora ne može biti kraća od trideset dana niti duža od dvadeset godina.
                                </p>
                            </div>
                        </div>
                        <div id="art_36_para_1_point_2">
                            <h4>
                                2.
                            </h4>
                            <div id="art_36_para_1_point_2_content">
                                <p>
                                    Kazna zatvora iz stava 
                                    <a href="#art_36_para_1_point_1">
                                        1
                                    </a> ovog člana izriče se na pune godine i mjesece, a do šest mjeseci i na dane.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="art_39">
                    <h3>
                        Član 39
                    </h3>
                    <div id="art_39_para_1">
                        <div id="art_39_para_1_point_1">
                            <h4>
                                1.
                            </h4>
                            <div id="art_39_para_1_point_1_content">
                                <p>
                                    Novčana kazna ne može biti manja od dvije stotine eura. Novčana kazna ne može biti veća od dvadeset hiljada eura, a za krivična djela učinjena iz koristoljublja veća od sto hiljada eura.
                                </p>
                            </div>
                        </div>
                        <div id="art_39_para_1_point_2">
                            <h4>
                                2.
                            </h4>
                            <div id="art_39_para_1_point_2_content">
                                <p>
                                    Novčana kazna kao glavna kazna izriče se u sljedećim iznosima:
                                    <div id="art_39_para_1_point_2_point_1">
                                        <h5>
                                            1.
                                        </h5>
                                        <div id="art_39_para_1_point_2_point_1_content">
                                            <p>
                                                do dvije hiljade eura za krivična djela za koja je propisana kazna zatvora do tri mjeseca;
                                            </p>
                                        </div>
                                    </div>
                                    <div id="art_39_para_1_point_2_point_2">
                                        <h5>
                                            2.
                                        </h5>
                                        <div id="art_39_para_1_point_2_point_2_content">
                                            <p>
                                                od četiri stotine do četiri hiljade eura za krivična djela za koja je propisana kazna zatvora do šest mjeseci;
                                            </p>
                                        </div>
                                    </div>
                                    <div id="art_39_para_1_point_2_point_3">
                                        <h5>
                                            3.
                                        </h5>
                                        <div id="art_39_para_1_point_2_point_3_content">
                                            <p>
                                                od šest stotina do osam hiljada eura za krivična djela za koja je propisana kazna zatvora do jedne godine;
                                            </p>
                                        </div>
                                    </div>
                                    <div id="art_39_para_1_point_2_point_4">
                                        <h5>
                                            4.
                                        </h5>
                                        <div id="art_39_para_1_point_2_point_4_content">
                                            <p>
                                                od osam stotina do šesnaest hiljada eura za krivična djela za koja je propisana kazna zatvora do dvije godine;
                                            </p>
                                        </div>
                                    </div>
                                    <div id="art_39_para_1_point_2_point_5">
                                        <h5>
                                            5.
                                        </h5>
                                        <div id="art_39_para_1_point_2_point_5_content">
                                            <p>
                                                najmanje hiljadu i dvije stotine eura za krivična djela za koja je propisana kazna zatvora do četiri godine;
                                            </p>
                                        </div>
                                    </div>
                                    <div id="art_39_para_1_point_2_point_6">
                                        <h5>
                                            6.
                                        </h5>
                                        <div id="art_39_para_1_point_2_point_6_content">
                                            <p>
                                                najmanje hiljadu i dvije stotine eura za krivična djela za koja je kao jedina kazna propisana novčana kazna.
                                            </p>
                                        </div>
                                    </div>
                                </p>
                            </div>
                        </div>
                        <div id="art_39_para_1_point_3">
                            <h4>
                                3.
                            </h4>
                            <div id="art_39_para_1_point_3_content">
                                <p>
                                    Za krivična djela učinjena iz koristoljublja novčana kazna kao sporedna kazna može se izreći i kad nije propisana zakonom ili kad je zakonom propisano da će se učinilac kazniti kaznom zatvora ili novčanom kaznom, a sud kao glavnu kaznu izrekne kaznu zatvora.
                                </p>
                            </div>
                        </div>
                        <div id="art_39_para_1_point_4">
                            <h4>
                                4.
                            </h4>
                            <div id="art_39_para_1_point_4_content">
                                <p>
                                Ako sud utvrdi novčanu kaznu kao glavnu kaznu, a utvrdi i novčanu kaznu kao sporednu kaznu, izreći će jednu novčanu kaznu po pravilima iz člana 48 ovog zakonika.
                                </p>
                            </div>
                        </div>
                        <div id="art_39_para_1_point_5">
                            <h4>
                                5.
                            </h4>
                            <div id="art_39_para_1_point_5_content">
                                <p>
                                U presudi se određuje rok plaćanja novčane kazne koji ne može biti kraći od petnaest dana niti duži od tri mjeseca. U opravdanim slučajevima sud može dozvoliti da osuđeni plati novčanu kaznu u ratama, s tim da rok isplate ne može biti duži od jedne godine.
                                </p>
                            </div>
                        </div>
                        <div id="art_39_para_1_point_6">
                            <h4>
                                6.
                            </h4>
                            <div id="art_39_para_1_point_6_content">
                                <p>
                                    Ako osuđeni ne plati novčanu kaznu u određenom roku, sud će novčanu kaznu zamijeniti kaznom zatvora, tako što će za svakih započetih dvadeset pet eura novčane kazne odrediti jedan dan kazne zatvora, s tim da kazna zatvora ne može biti duža od šest mjeseci, a ako je izrečena novčana kazna u iznosu većem od devet hiljada eura, kazna zatvora ne može biti duža od jedne godine.
                                </p>
                            </div>
                        </div>
                        <div id="art_39_para_1_point_7">
                            <h4>
                                7.
                            </h4>
                            <div id="art_39_para_1_point_7_content">
                                <p>
                                    Neplaćena novčana kazna koja ne prelazi iznos od dvije hiljade eura, može se, umjesto kaznom zatvora, zamijeniti kaznom rada u javnom interesu uz saglasnost osuđenog lica, tako što će se za svakih započetih dvadeset pet eura novčane kazne odrediti osam časova rada u javnom interesu, s tim da rad u javnom interesu ne može biti duži od tristašezdeset časova.
                            </div>
                        </div>
                        <div id="art_39_para_1_point_8">
                            <h4>
                                8.
                            </h4>
                            <div id="art_39_para_1_point_8_content">
                                <p>
                                Ako osuđeni plati samo dio novčane kazne, sud će ostatak kazne srazmjerno zamijeniti kaznom zatvora, a ako osuđeni isplati ostatak novčane kazne, izvršenje kazne zatvora će obustaviti.
                            </div>
                        </div>
                        <div id="art_39_para_1_point_9">
                            <h4>
                                9.
                            </h4>
                            <div id="art_39_para_1_point_9_content">
                                <p>
                                Poslije smrti osuđenog novčana kazna neće se izvršiti.
                            </div>
                        </div>
                    </div>
                </div>
                <div id="art_42">
                    <h3>
                        Član 42
                    </h3>
                    <div id="art_42_para_1">
                        <div id="art_42_para_1_point_1">
                            <h4>
                                1.
                            </h4>
                            <div id="art_42_para_1_point_1_content">
                                <p>
                                    Sud će učiniocu krivičnog djela odmjeriti kaznu u granicama koje su zakonom propisane za to djelo, imajući u vidu svrhu kažnjavanja i uzimajući u obzir sve okolnosti koje utiču da kazna bude manja ili veća (olakšavajuće i otežavajuće okolnosti) , a naročito: stepen krivice, pobude iz kojih je djelo učinjeno, jačinu ugrožavanja ili povrede zaštićenog dobra, okolnosti pod kojima je djelo učinjeno, raniji život učinioca, njegove lične prilike, njegovo držanje poslije učinjenog krivičnog djela, a naročito njegov odnos prema žrtvi krivičnog djela kao i druge okolnosti koje se odnose na ličnost učinioca.
                                </p>
                            </div>
                        </div>
                        <div id="art_42_para_1_point_2">
                            <h4>
                                2.
                            </h4>
                            <div id="art_42_para_1_point_2_content">
                                <p>
                                    Pri odmjeravanju novčane kazne sud će posebno uzeti u obzir i imovno stanje učinioca.
                                </p>
                            </div>
                        </div>
                        <div id="art_42_para_1_point_3">
                            <h4>
                                3.
                            </h4>
                            <div id="art_42_para_1_point_3_content">
                                <p>
                                    Okolnost koja je obilježje krivičnog djela ne može se uzeti u obzir i kao otežavajuća, odnosno olakšavajuća okolnost, izuzev ako prelazi mjeru koja je potrebna za postojanje krivičnog djela ili određenog oblika krivičnog djela ili ako postoje dvije ili više ovakvih okolnosti, pa je samo jedna dovoljna za postojanje težeg, odnosno lakšeg oblika krivičnog djela.
                                </p>
                            </div>
                        </div>
                    </div>
                </article>
                <article id="art_45">
                    <h3>
                        Član 45
                    </h3>
                    <div id="art_45_para_1">
                        <div id="art_45_para_1_point_1">
                            <h4>
                                1.
                            </h4>
                            <div id="art_45_para_1_point_1_content">
                                <p>
                                        zakon predviđa da se učinilac može blaže kazniti;
                                </p>
                            </div>
                        </div>
                        <div id="art_45_para_1_point_2">
                            <h4>
                                2.
                            </h4>
                            <div id="art_45_para_1_point_2_content">
                                <p>
                                    zakon predviđa da se učinilac može osloboditi od kazne, a sud ga ne oslobodi od kazne;
                                </p>
                            </div>
                        </div>
                        <div id="art_45_para_1_point_3">
                            <h4>
                                3.
                            </h4>
                            <div id="art_45_para_1_point_3_content">
                                <p>
                                    utvrdi da postoje naročito olakšavajuće okolnosti i ocijeni da se i sa ublaženom kaznom može postići svrha kažnjavanja.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="art_46">
                    <h3>
                        Član 46
                    </h3>
                    <div id="art_46_para_1">
                        <div id="art_46_para_1_point_1">
                            <h4>
                                1.
                            </h4>
                            <div id="art_46_para_1_point_1_content">
                                <p>
                                    Novčana kazna kao glavna kazna izriče se u sljedećim iznosima:
                                    <div id="art_46_para_1_point_1_point_1">
                                        <h5>
                                            1.
                                        </h5>
                                        <div id="art_46_para_1_point_1_point_1_content">
                                            <p>
                                                ako je za krivično djelo kao najmanja mjera kazne propisan zatvor u trajanju od pet ili više godina, kazna se može ublažiti do dvije godine zatvora;
                                            </p>
                                        </div>
                                    </div>
                                    <div id="art_46_para_1_point_1_point_2">
                                        <h5>
                                            2.
                                        </h5>
                                        <div id="art_46_para_1_point_1_point_2_content">
                                            <p>
                                                ako je za krivično djelo kao najmanja mjera kazne propisan zatvor u trajanju od tri ili više godina, kazna se može ublažiti do jedne godine zatvora;
                                            </p>
                                        </div>
                                    </div>
                                    <div id="art_46_para_1_point_1_point_3">
                                        <h5>
                                            3.
                                        </h5>
                                        <div id="art_46_para_1_point_1_point_3_content">
                                            <p>
                                                ako je za krivično djelo kao najmanja mjera kazne propisan zatvor od dvije godine, kazna se može ublažiti do šest mjeseci zatvora;
                                            </p>
                                        </div>
                                    </div>
                                    <div id="art_46_para_1_point_1_point_4">
                                        <h5>
                                            4.
                                        </h5>
                                        <div id="art_46_para_1_point_1_point_4_content">
                                            <p>
                                                ako je za krivično djelo kao najmanja mjera kazne propisan zatvor od jedne godine, kazna se može ublažiti do tri mjeseca zatvora;
                                            </p>
                                        </div>
                                    </div>
                                    <div id="art_46_para_1_point_1_point_5">
                                        <h5>
                                            5.
                                        </h5>
                                        <div id="art_46_para_1_point_1_point_5_content">
                                            <p>
                                                ako je za krivično djelo kao najmanja kazna propisan zatvor ispod jedne godine, kazna se može ublažiti do trideset dana zatvora;
                                            </p>
                                        </div>
                                    </div>
                                    <div id="art_46_para_1_point_1_point_6">
                                        <h5>
                                            6.
                                        </h5>
                                        <div id="art_46_para_1_point_1_point_6_content">
                                            <p>
                                                ako je za krivično djelo propisana kazna zatvora bez naznačenja najmanje mjere, umjesto zatvora može se izreći novčana kazna;												
                                            </p>
                                        </div>
                                    </div>
                                    <div id="art_46_para_1_point_1_point_7">
                                        <h5>
                                            7.
                                        </h5>
                                        <div id="art_46_para_1_point_1_point_7_content">
                                            <p>
                                                ako je za krivično djelo propisana novčana kazna sa naznačenjem najmanje mjere, kazna se može ublažiti do šest stotina eura.
                                            </p>
                                        </div>
                                    </div>
                                </p>
                            </div>
                        </div>
                        <div id="art_46_para_1_point_2">
                            <h4>
                                2.
                            </h4>
                            <div id="art_46_para_1_point_2_content">
                                <p>
                                    Kad je sud ovlašćen da učinioca krivičnog djela oslobodi od kazne može mu kaznu ublažiti, bez ograničenja propisanih za ublažavanje kazne.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="chp_5">
            <h3>
                V.
            </h3>
            <h3>
                MJERE BEZBJEDNOSTI
            </h3>
            <section id="chp_5_sec_1">
                <div id="art_75">
                    <h3>
                        Član 75
                    </h3>
                    <div id="art_75_para_1">
                        <div id="art_75_para_1_point_1">
                            <h4>
                                1.
                            </h4>
                            <div id="art_75_para_1_point_1_content">
                                <p>
                                    Predmeti koji su upotrijebljeni ili su bili namijenjeni za izvršenje krivičnog djela ili koji su nastali izvršenjem krivičnog djela mogu se oduzeti, ako su svojina učinioca.
                                </p>
                            </div>
                        </div>
                        <div id="art_75_para_1_point_2">
                            <h4>
                                2.
                            </h4>
                            <div id="art_75_para_1_point_2_content">
                                <p>
                                    Predmeti iz stava <a href="#art_75_para_1_point_1">
                                        1
                                    </a> ovog člana mogu se oduzeti i kad nijesu svojina učinioca, ako to zahtijevaju razlozi bezbjednosti ljudi ili imovine ili razlozi morala ili kada i dalje postoji opasnost da će biti upotrijebljeni za izvršenje krivičnog djela, a time se ne dira u pravo trećih lica na naknadu štete od učinioca.
                                </p>
                            </div>
                        </div>
                        <div id="art_75_para_1_point_3">
                            <h4>
                                3.
                            </h4>
                            <div id="art_75_para_1_point_3_content">
                                <p>
                                    Zakonom se može odrediti obavezno oduzimanje predmeta i uslovi za njihovo oduzimanje.
                                </p>
                            </div>
                        </div>
                        <div id="art_75_para_1_point_4">
                            <h4>
                                4.
                            </h4>
                            <div id="art_75_para_1_point_4_content">
                                <p>
                                    Zakonom se može odrediti obavezno uništavanje oduzetih predmeta.
                                </p>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <div id="chp_15">
            <h2>
                XV.
            </h2>
            <h2>
                KRIVIČNA DJELA PROTIV SLOBODA I PRAVA ČOVJEKA I GRAĐANINA
            </h2>
            <section id="chp_15_sec_1">
                <div id="art_168">
                    <h3>
                        Član 168
                    </h3>
                    <div id="art_168_para_1">
                        <div id="art_168_para_1_point_1">
                            <h4>
                                1.
                            </h4>
                            <div id="art_168_para_1_point_1_content">
                                <p>
                                    Ko ugrozi sigurnost nekog lica prijetnjom da će napasti na život ili tijelo tog lica ili njemu bliskog lica, kazniće se novčanom kaznom ili zatvorom do jedne godine;
                                </p>
                            </div>
                        </div>
                        <div id="art_168_para_1_point_2">
                            <h4>
                                2.
                            </h4>
                            <div id="art_168_para_1_point_2_content">
                                <p>
                                    Ko djelo iz stava
                                    <a href="#art_168_para_1_point_1">
                                        1
                                    </a>
                                    ovog člana učini prema više lica ili ako je djelo izazvalo uznemirenost građana ili druge teške posljedice ili je učinjeno iz mržnje, kazniće se zatvorom od tri mjeseca do tri godine;
                                </p>
                            </div>
                        </div>
                        <div id="art_168_para_1_point_3">
                            <h4>
                                3.
                            </h4>
                            <div id="art_168_para_1_point_3_content">
                                <p>
                                Ako je djelo iz stava
                                <a href="#art_168_para_1_point_1">
                                    1
                                </a>
                                ovog člana učinilo službeno lice u vršenju službe, kazniće se zatvorom od tri mjeseca do tri godine;
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div id="chp_23">
            <h2>
                XXIII.
            </h2>
            <h2>
                KRIVIČNA DJELA PROTIV PLATNOG PROMETA I PRIVREDNOG POSLOVANjA
            </h2>
            <section id="chp_23_sec_1">
                <div id="art_265">
                    <h3>
                        Član 265
                    </h3>
                    <div id="art_265_para_1">
                        <div id="art_265_para_1_point_1">
                            <h4>
                                1.
                            </h4>
                            <div id="art_265_para_1_point_1_content">
                                <p>
                                    Ko se bavi prenošenjem robe preko carinske linije izbjegavajući mjere carinskog nadzora ili ko izbjegavajući mjere carinskog nadzora prenese robu preko carinske linije naoružan, u grupi ili uz upotrebu sile ili prijetnje, kazniće se zatvorom od šest mjeseci do pet godina i novčanom kaznom;
                                </p>
                            </div>
                        </div>
                        <div id="art_265_para_1_point_2">
                            <h4>
                                2.
                            </h4>
                            <div id="art_265_para_1_point_2_content">
                                <p>
                                    Ko prenese preko carinske linije, izbjegavajući mjere carinskog nadzora, veću količinu oružja ili municije ili oružje čije držanje je građanima zabranjeno ili drugu robu čija je proizvodnja ili promet ograničen ili zabranjen, kazniće se zatvorom od jedne do osam godina i novčanom kaznom;
                                </p>
                            </div>
                        </div>
                        <div id="art_265_para_1_point_3">
                            <h4>
                                3.
                            </h4>
                            <div id="art_265_para_1_point_3_content">
                                <p>
                                    Ko se bavi prodajom, rasturanjem ili prikrivanjem neocarinjene robe ili organizuje mrežu preprodavaca ili posrednika za rasturanje takve robe, kazniće se zatvorom od jedne do osam godina i novčanom kaznom;
                            </div>
                        </div>
                        <div id="art_265_para_1_point_4">
                            <h4>
                                4.
                            </h4>
                            <div id="art_265_para_1_point_4_content">
                                <p>
                                    Roba koja je predmet djela iz st.
                                    <a href="#art_265_para_1_point_1">
                                        1
                                    </a>
                                    ,
                                    <a href="#art_265_para_1_point_2">
                                        2
                                    </a>
                                    i
                                    <a href="#art_265_para_1_point_3">
                                        3
                                    </a>
                                    ovog člana oduzeće se.
                                </p>
                            </div>
                        </div>
                        <div id="art_265_para_1_point_5">
                            <h4>
                                5.
                            </h4>
                            <div id="art_265_para_1_point_5_content">
                                <p>
                                    Prevozno sredstvo čija su tajna ili skrovita mjesta iskorišćena za prenos robe koja je predmet djela iz
                                    <a href="#art_265_para_1_point_1">
                                        stava 1 ovog člana
                                    </a>
                                    ili koje je namijenjeno za izvršenje tih krivičnih djela može se oduzeti ako je vlasnik ili korisnik vozila to znao ili je mogao i bio dužan da zna i ako vrijednost robe koja je predmet krivičnog djela prelazi jednu trećinu vrijednosti prevoznog sredstva u vrijeme izvršenja krivičnog djela.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </body>
</div>
</html>